@model Categories

@{
    ViewData["Title"] = "Modify Category";
}

<h1 class="text-center">Modify category: @Model.Name</h1>

<div class="card">
    <div class="formModify">
        <form asp-action="Modify">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="OperationTypeId" class="form-label"></label>
                <select asp-for="OperationTypeId" asp-items="Html.GetEnumSelectList<OperationTypes>()" class="form-select"></select>
                <span asp-validation-for="OperationTypeId" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-outline-primary">Update</button>
            <a class="btn btn-outline-danger" asp-action="Index">Cancel</a>
        </form>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}

