@model ModifyTransactionViewModel
@{
    ViewData["Title"] = "Transactions";
}

<h1 class="text-center">Modify Transaction</h1>
<div>
    <div class="formModify">
        <form asp-action="Modify">
            <div asp-validation-summary=ModelOnly class="text-danger"></div>
            <input type="hidden" asp-for="Id">
            <input type="hidden" asp-for="PreviousTotal">
            <input type="hidden" asp-for="PreviousAccountId">

            <div class="mb-3">
                <label asp-for="TransactionDate" class="form-label"></label>
                <input asp-for="TransactionDate" class="form-control" autocomplete="off"/>
                <span asp-validation-for="TransactionDate" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="AccountId" class="form-label"></label>
                <select asp-for="AccountId" asp-items="Model.Accounts" class="form-select"></select>
                <span asp-validation-for="AccountId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="OperationTypesId" class="form-label"></label>
                <select asp-for="OperationTypesId" asp-items="Html.GetEnumSelectList<OperationTypes>()" class="form-select"></select>
                <span asp-validation-for="OperationTypesId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="CategoryId" class="form-label"></label>
                <select asp-for="CategoryId" asp-items="Model.Categories" class="form-select"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Total" class="form-label"></label>
                <input asp-for="Total" class="form-control" autocomplete="off"/>
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Description" class="form-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <button class="btn btn-outline-primary">Update</button>
            <a class="btn btn-outline-danger" asp-action="Index">Cancel</a>
        </form>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
<script src="~/js/TransactionsForm.js" sdp-append-version="true"></script>

<script>
    const urlGetCategories = '@Url.Action("GetCategories")';
    $(function() {
      initializeTransactionsForm(urlGetCategories);
      })
</script>
}
