html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://img2.freepng.es/20180305/lee/kisspng-online-banking-money-drawing-bank-building-5a9d3b87dfff93.0438617315202538319175.jpg);
}

.content-center {
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center
}

.sizeFooter {
    display: flex;
    height: 40px;
    width: 40px;
}

.headerSize {
    display: flex;
    height: 55px;
    width: 55px;
    justify-content: center;
    align-items: center
}

.footerSize {
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center
}

.sizeImage {
    display: flex;
    height: 130px;
    width: 130px;
}

.login {
    display: flex;
    height: 20px;
    width: 20px;
}

.leftHeader {
    flex: 1 1 auto;
}


.formLogin {
    width: 500px;
    height: 10px auto;
    margin: 40px auto;
    border-radius: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.formCreate {
    width: 1000px;
    height: 20px auto;
    margin: 10px auto;
    border-radius: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: aliceblue;
}

.color{
    background-color: aliceblue;
}

.colorCard{
    background-color: gray;
}

.formModify {
    width: 1000px;
    height: 20px auto;
    margin: 10px auto;
    border-radius: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: aliceblue;
}

.formDelete {
    width: 1000px;
    height: 20px auto;
    margin: 10px auto;
    border-radius: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: aliceblue;
}

.headerColor {
    background-color: darkcyan;
}

.size{
    display:flex;
    width: 50px;
    height: 50px;
}

.sizeLogueo {
    display: flex;
    width: 60px;
    height: 60px;
}


