@{
    ViewData["Title"] = "Economic ManagementAPP";
}
<div>
    <div class="card formDelete color">
        <div class="content-center">
            <h1 class="text-black">@ViewData["Title"]</h1>
            <img src="https://t3.ftcdn.net/jpg/02/53/45/38/240_F_253453883_KvUbLw0TUwmpdE49M4jR9U1DTSSPqnI1.jpg" />
        </div>
    </div>
</div>

